/* set variable values */
:root {
  --brown_brown : #4e3629 ;
  --brown_red : #c00404 ;
  --brown_yellow : #ffc72c ;
}

/* force body to 0 -- this may cause issues for your site! */
body {
	margin : 0px ; 
}

/* fonts from Brown */

   @font-face {
     font-family: CircularStd;
     src: url("https://library.brown.edu/common/fonts/CircularStd-Book.otf");
     font-weight: 400 ;
}

   @font-face {
     font-family: CircularStd;
     src: url("https://library.brown.edu/common/fonts/CircularStd-Medium.otf");
     font-weight: 600 ;
}

   @font-face {
     font-family: CircularStd;
     src: url("https://library.brown.edu/common/fonts/CircularStd-Bold.otf");
     font-weight: 800 ;
}

   @font-face {
     font-family: MinionPro;
     src: url("https://library.brown.edu/common/fonts/MinionPro-Regular.otf");
     font-weight: 400 ;
}

   @font-face {
     font-family: MinionPro;
     src: url("https://library.brown.edu/common/fonts/MinionPro-It.otf");
     font-style: italic ;
}

   @font-face {
     font-family: MinionPro;
     src: url("https://library.brown.edu/common/fonts/MinionPro-Bold.otf");
     font-weight: 800 ;
}

/*--- ---*/

#bul_pl_universal_header {
	display : grid ; 
  	width : 100% ; 
  	transition : all 1s ease 0s ;
  	background-color: var(--brown_brown) ;
  	grid-template-columns: 180px 200px auto ;
  	position : fixed ; 
  	height : 85px ;  
  	padding : 12px 25px 12px 25px ; 
}

#bul_pl_header_links {
	transition : all 1s ease 0s ;
	text-align : right ; 
	border : 1px solid transparent ;
	margin : 4ex 20% 0 0 ; 	
}

#bul_pl_header_links a {
	font-family : CircularStd ;
	font-weight : 400 ;  
	font-size : .85rem ; 
	display : inline-block ; 
	color : #fff ; 
	font-variant : small-caps ;
	text-transform : uppercase ; 
	letter-spacing : 1.1 ; 
	line-height : 1.2 ; 
}

#bul_pl_header_links a.bul_pl_header_text {
	margin-right : 20px ; 
}

#bul_pl_brand {
	transition : all 1s ease 0s ;
	color : #fff ;
}

#bul_pl_brown_shield_svg {
	transition : all 1s ease 0s ;
	padding-right : 43px ; 
	margin-top : 8px ; 
	border-right : 1px solid grey ; 
	height : 75px ; 
}

#bul_pl_logo_text {
	transition : all 1s ease 0s ;
	font-weight : 600 ; 
	color : #fff ;
	margin-left : 43px ; 
	margin-top : 35px ; 
	letter-spacing : 0.1 ;
	font : 1.2rem "CircularStd"; 
}

#bul_pl_logo_text a {
	text-decoration : none ; 
	color : #fff ; 
}

#bul_pl_words_university_library {
	display : inline-block ; 
	letter-spacing : 1.1 ;
	margin-top : 0px ; 
	font-size : 10pt ; 
	-webkit-font-smoothing : antialiased ;
}

#bul_pl_search {
	width : 50% ; 
}

#bul_pl_search_icon {
	transition : all .25s ease 0s ;
	cursor : pointer ;
	margin-left : 2px ; 
	margin-top : -1ex ;  /* this makes up for the extra headroom created by the rotation */
	font-size : 1.7em ; 
	font-weight : bold ; 
	padding : 12px 12px 13px 13px ; 
	background-color : transparent ; 
	color : #fff ; 
	-webkit-transform : rotate(-45deg) ; 
	-moz-transform : rotate(-45deg) ;
	-o-transform : rotate(-45deg) ;
	transform : rotate(-45deg) ;
	display : inline-block ; 
	clip-path : circle(40% at 50% 50%) ;
	-webkit-clip-path : circle(40% at 50% 50%) ;
}

#bul_pl_hamburger_icon {
	transition : all .25s ease 0s ;
	cursor : pointer ;
	margin-left : 15px ; 
	font-size : 1.4em ; 
	font-weight : bold ; 
	padding : 14px 14px 15px 15px ; 
	background-color : var(--brown_red) ; 
	color : #fff ; 
	clip-path : circle(40% at 50% 50%) ;
	-webkit-clip-path : circle(40% at 50% 50%) ;
}

#bul_pl_search_icon:hover, #bul_pl_hamburger_icon:hover {
	transition : all .25s ease 0s ;
	background-color : #fff ; 
	color : var(--brown_red) ;
}

#bul_pl_search_button {
	font-family : "CircularStd",sans-serif ;
	font-weight : 400 ;
	font-size : .8125rem ;
	letter-spacing : .09rem ;  
	text-transform : uppercase ; 	
	height : 64px ; 
	width : 141px ;
	color : #fff ; 
	background-color : var(--brown_red) ;
	border : 0px ; 
	padding : 0px ; 
}

#bul_pl_search_button:hover, #bul_pl_search_button:focus {
	background-color : #000 ; 
}

label[for="bul_pl_search_icon"]{
	position : absolute ;
	height : 1px ; 
	width : 1px ; 
	overflow : hidden ;
	clip : rect(1px 1px 1px 1px) ; /* IE6, IE7 */
	clip : rect(1px, 1px, 1px, 1px) ;
}

a#bul_pl_noscript_search {
	text-decoration : none ;
}

#bul_pl_universal_header nav div {
	display : inline ; /* this is required because Firefox adds a div when noscript is used */
}

.bul_pl_header_modal {
    position : fixed ;
    left : 0 ;
    top : 0 ;
    opacity : 0 ;
    visibility: hidden;
    transition: visibility 0s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
    width : 100% ; 
}
.bul_pl_header_modal-content {
    opacity : 1 ; 
    width : 100% ;
    background-color : transparent ; 
}
.bul_pl_header_modal_text {
	text-align : center ; 
	padding-bottom : 10px ; 
}
.bul_pl_header_close-button {
    width : 2rem ;
    font-size : 2rem ; 
    padding : 0px 2px 2px 2px ; 
    margin : 20px 20px 0px 0px ; 
    text-align : center !important ;
    cursor : pointer;
    background-color : var(--brown_red);
    color : #fff ; 
    display : inline-block ; 
    text-align : right ;
}
.bul_pl_header_close-button:hover {
    background-color : #000 ;
}
.show-bul_pl_header_modal {
	background-color : #fff ; 
    opacity : .98 ;
    visibility : visible ;
    transform : scale(1.0) ;
    transition : visibility 0s linear 0s, opacity 0.5s 0s, transform 0.5s ;
    width : 100% ; 
}

#searchForm_lookfor {
	border : 1px solid #b7b09c ;
	width : 35% ; 
	opacity : 1 ;
	width : 539px ; 
	padding : 20px 15px ; 
	height : 66px ; 
	font-size : 1rem ; 
	font-family : "CircularStd",sans-serif ;
	font-weight : 700 ;
	background : #f9fafa ;
}

#searchForm_lookfor:hover {
	border : 1px solid var(--brown_red) ;
}

#searchForm_lookfor:focus {
}
